<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ybhrxjavademo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RetrofitTestActivity" />
        <activity android:name=".ShowPicActivity" />
        <activity android:name=".ShowViewActivity" />
        <activity android:name=".animation.AnimationTestActivity" />
        <activity android:name=".animation.FramAnimationActivity" />
        <activity android:name=".animation.TweenAniActivity" />
        <activity android:name=".animation.ProterAniActivity"></activity>
    </application>

</manifest>